<div class="container">
  <div class="blog-title">
    <div class="blog-logo">
      <a href="/simple">
        <p>Blog.</p>
      </a>
    </div>
    <div class="title-helper">
      <p>A statically generated blog example using <a href="/">Next.js</a> and Markdown</p>
    </div>
  </div>
  <section *ngIf="latestPost" class="latest-blog">
    <div class="blog-post">
      <div class="post-banner">
        <a [routerLink]=" 'post/' + latestPost.slug">
          <img [src]="origin + latestPost.coverImage" />
        </a>
      </div>
      <div class="post-container">
        <div class="post-description">
          <a [routerLink]=" 'post/' + latestPost.slug">
            <div class="post-title">{{latestPost.title}}</div>
          </a>
          <div class="post-date">{{ latestPost.date | date:"MMMM dd, YYYY" }}</div>
        </div>
        <div class="post-content-author">
          <div class="post-content">
            {{latestPost.excerpt}}
          </div>
          <div class="post-author">
            <div class="post-author-avatar">
              <img [src]=" origin + latestPost.author.picture "/>
            </div>
            <div class="post-author-name">
              {{latestPost.author.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="other-blogs">
    <div class="other-blogs-title">
      <p>More Stories</p>
    </div>
    <div class="other-blogs-container">
      <div class="blog-post"  *ngFor="let otherPost of otherPosts">
        <div class="post-banner">
          <a [routerLink]="'post/' +  otherPost.slug">
            <img [src]="origin + otherPost.coverImage" />
          </a>
        </div>
        <div class="post-container">
          <div class="post-description">
            <a [routerLink]=" 'post/' + otherPost.slug">
              <div class="post-title">{{otherPost.title}}</div>
            </a>
            <div class="post-date">{{ otherPost.date | date:"MMMM dd, YYYY" }}</div>
          </div>
          <div class="post-content-author">
            <div class="post-content">
              {{otherPost.excerpt}}
            </div>
            <div class="post-author">
              <div class="post-author-avatar">
                <img [src]=" origin + otherPost.author.picture "/>
              </div>
              <div class="post-author-name">
                {{otherPost.author.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
